.center{
    text-align: center;
}
.content-body{
   background-color: #838888;
   border-radius: 10px; 
   padding: 1%;
   width: fit-content;
   margin: auto;
}
input{
    width: 85%;
}
select{
    width: 89%;
}
textarea{
    width: 85%;
}

.input-wrapper{
    background-color: #999f9f;
    padding: 5%;
    margin: auto;
    width: fit-content;
}
.input-wrapper td{
    width: fit-content;
}

.input-wrapper li{
    list-style: none;
    margin-bottom: 1%;
}
.three-col-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
}
.three-col-grid button{
    background-color: #f06236;
    padding: 5%;
}
