.four-col-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.column{
    margin-right: 5%;
    background-color: rgb(132, 128, 254);
    border-radius: 10px;
}
.column h4{
    margin-left: 5%;
}
.projects-wrapper{
    margin: 2%;
}
/* .projects-wrapper:hover(){
    transform: scale(1.5);
    background-color: black;
} */
.project-info{
    border-radius: 25px;
    /* background: radial-gradient(circle at center, rgb(8, 0, 255), rgb(8, 0, 255), rgb(132, 128, 254)); */
    background-color: rgb(132, 128, 254);
    padding: 7%;
    margin-bottom: 3%;
}
.status-bar{
    align-items: center;
}
.status-bar img{
    width: 40%;
    height: auto;
    float: left;
    margin: 9% 5% 0% 5%;
}
.employee img{
    border-radius: 50%;
    width: 50%;
}
.Ticket p{
    float: left;
}
.project-info:hover{
    /* background-color: rgb(144, 140, 253); */
    background: radial-gradient(circle at center, rgb(8, 0, 255), rgb(8, 0, 255) , rgb(132, 128, 254));
    box-shadow: 3px 3px 3px #22588b;
    transform: scale(1.009);
    box-shadow: 0 0 3px black;
  margin-top: -3px;
  margin-left: +3px;
    /* background-color: black; */
}
#move-bug{
    margin-left: +5px;
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    background-color: #389CFA;
    ;
}
#move-bug:active{
    border-radius: 12px;
    border-color: blue;
}
#delete-bug{
    /* margin-left: +5px; */
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    background-color: red;
}
#delete-bug:active{
    border-radius: 12px;
    border-color: red;
}
.on_bug_move{
    display: flex; 
    justify-content: flex-end;
}
