.bug-content-wrapper{
    width: 50%;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
    background-color: #838888;
}
.bug-show-two-col{
    padding: 1%;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #999f9f;
}
.bug-show-two-col div{
    text-align: justify;
}
.Border{
    border: 1px solid black;
}
.backToBoard{
    margin-top: 5%;
    padding: 3%;
    color: #414342;
    margin-right: +5px;
    border-radius: 7px;
    border-color: #e7ac94;
    border-width: 1px;
    background-color: #e7ac94;
    font-size: 1vw;
    float: right;
}
.clearBug{
    float: none;

}
.noBorder{
    border: none;
}
.bug-content-header{
    text-align: center;
}
.padding{
    padding-left: 3%;
    padding-right: 3%;
}