@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #DAF4FB;
}
.main-two-col{
    display: grid;
    grid-template-columns: 20vw 75vw;
}
.sidebar-header{
    text-align: center;
    padding-bottom: 5%;
}
.clear{
    clear: left;
}
.sidebar-header img{
    width: 20%;
    height: auto;
    float: left;
    border-radius: 50%;
    margin: 5% 5% 0% 5%;
}
.sidebar-header h1{
    margin: 8% 5% 0% 5%;
    float: left;
    color: #FEFCFB;
}
.sidebar{
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100vh;
    background-color: #3055c5;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
}
.side-nav img{
    width: 10%;
    height: auto;
    float: left;
    margin: 8% 5% 0% 5%;
}
.sidebar a{
    display: block;
    color: #FEFCFB;
    padding: 10%;
    text-decoration: none;
}
.sidebar a.active{
    background-color: #389CFA;
    color: #FEFCFB;
}
.sidebar a:hover:not(.active){
    background-color: #60B6FB;
    color: #001f54;
}
.hide{
    display: none;
}
.content{
    margin-left: 20vw;
    width: 79vw;
    height: auto;
    padding-left: 1%;
    position: relative;
}
@media screen and (max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a{
        float: left;
    }
    div .content{
        margin-left: 0%;
    }
}
@media screen and (max-width: 700px){
    .sidebar a{
        text-align: center;
        float: none;
    }
}
.button-wrap{
    padding: 10%;
}
.nav-button{
    background-color: #99d9eb;
    padding: 2%;
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    margin-left: 20%;
}


