.search img{
    width: 40%;
    margin: 7% 0% 0% 5%;
}
.search{
    text-align: center;
    display: block;
    float: right;
    width: 15vw;
}
.search button{
    width: 20%;
    height: 1%;
    background-color: #f06236;
}

.table-wrapper{
    width: fit-content;
    margin: auto;
    padding: 1%;
    border-radius: 5px;
    background-color: #838888;
}
.margin-right{
    margin-right: 1%;
}
.twelve-col-grid{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #999f9f;
    
}
.three-col{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #999f9f;
}
.padding5{
    padding: 5%;
}
.padding{
    padding: 2%;
}
.twelve-col-grid div{
    border: 1px solid black;
    text-align: center;
}
.border div{
    border: 1px solid black;
    text-align: center;
}
.table-header{
    font-weight: bold;
}
.projectIDhover:hover{
    background: radial-gradient(circle at center, #f06236, #ec9074, #f2c3b4);
    box-shadow: 3px 3px 3px #934027;
    transform: scale(1.005);
    box-shadow: 0 0 3px black;
    margin-top: 0px;
    margin-left: +3px;
}
